/* animations.css */
@keyframes heart {

    0%,
    100% {
        transform: scale(1);
        color: inherit;
        fill: transparent;
    }

    50% {
        transform: scale(1.3);
        color: #db4444;
        fill: #db4444;
    }
}

@keyframes cartBump {

    0%,
    100% {
        color: inherit;
        fill: transparent;
        transform: scale(1);
    }

    20% {
        color: #db4444;
        fill: #db4444;
        /* transform: scale(1.1) ; */
    }

    40% {
        /* transform: scale(0.95) ; */
    }

    60% {
        /* transform: scale(1.05) ; */
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-out {

    0%,
    100% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }
}

@keyframes fade_InUp {
    from {
        opacity: 0;
        transform: translate3d(0, 5%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade_outDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 5%, 0);
    }
}

@keyframes quickSlider {
    to {
        background: #c7c7c7;
        filter: blur(0px) grayscale(0);
    }
}

/* Optional animation utility classes */
@layer utilities {

    .anim-show {
        animation: fade-in 0.3s var(--apple-transition) forwards;
    }

    .anim-fadeInOut {
        animation: fade-in-out 2s var(--apple-transition) infinite;
    }

    .animate__heart {
        animation: heart 0.4s var(--apple-transition) 0s 2 forwards;
    }

    .animate_cartBump {
        animation: cartBump 0.3s var(--apple-transition) 0s 2 forwards;
    }

    .animate_quickSlider {
        animation: quickSlider 0.3s var(--apple-transition) forwards;
    }

    /* ############## animate.css ################# */
    .animate_fadeInUp {
        -webkit-animation-name: fade_InUp;
        animation-name: fade_InUp;
    }

    .animate_fadeOutDown {
        -webkit-animation-name: fade_outDown;
        animation-name: fade_outDown;
    }

    .animate__animated.animate__faster {
        animation-duration: 0.4s !important;
    }

    .page-container {
        transition-property: opacity, transform, filter, background;
        transition-timing-function: var(--apple-transition);
        transition-duration: 350ms;
    }

    body.page-transition .page-container {
        transform: translateY(40px);
        filter: blur(12px);
        opacity: 0;
        pointer-events: none;
    }


    body.page-transition .main-loader {
        display: block;
        animation: fade-in 0.3s var(--apple-transition) forwards 350ms;
    }


    /* .animate__slideInUp {
        animation-duration: 0.5s !important;
        animation-timing-function: var(--apple-transition) !important;

    }

    .animate__slideOutDown {
        animation-duration: 0.5s !important;
        animation-timing-function: var(--apple-transition) !important;

    } */

}